# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [7]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [8]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [9]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [10]:
vendas_df = pd.read_excel("Vendas.xlsx") #para ler o arquivo usa read_excel ou a extensão do arquivo poderia ser csv por exemplo, e dentro dos parenteses o nome do arquivo ou o path dele 
display(vendas_df)

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248
6,301026,2019-01-02,Amplo-07,Calça,1,170,170
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218

### Resumos de Visualização de Dados simples e úteis
    - head -  dentro do parenteses() coloca quantas linhas quer visualizar, nesse caso coloquei 10, nesse exemplo i´ra mostrar da linha 0 à 9
    - shape - retorna quantas linhas e colunas o arquivo tem
    - describe - retorna um resumo

In [11]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248
6,301026,2019-01-02,Amplo-07,Calça,1,170,170
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105

(24, 7)

,Numero de Ordem,Data,Quantidade,Valor Unitário,Valor Final
count,24.000000,24,24.000000,24.000000,24.000000
mean,301031.500000,2019-01-01 21:00:00,1.750000,201.583333,416.583333
min,301020.000000,2019-01-01 00:00:00,1.000000,69.000000,69.000000
25%,301025.750000,2019-01-02 00:00:00,1.000000,113.000000,115.250000
50%,301031.500000,2019-01-02 00:00:00,1.000000,180.000000,271.000000
75%,301037.250000,2019-01-02 00:00:00,2.000000,249.750000,400.000000
max,301043.000000,2019-01-02 00:00:00,5.000000,706.000000,3530.000000
std,7.071068,NaN,1.151558,136.867729,683.894914

### Filtrando dados do dataframe, exemplo Pegar 1 coluna (e os pd.Series), uma coluna apenas podemos chamar de series, passando as colunas que queremos dentro dos [], cada coluna precisa ser aberto um colchetes[]

In [12]:
produtos = vendas_df[['Produto', 'Numero de Ordem']]
display(produtos)

                   Produto  Numero de Ordem
0           Sapato Estampa           301020
1                 Camiseta           301021
2            Sapato Xadrez           301022
3                  Relógio           301023
4             Chinelo Liso           301024
5              Cinto Linho           301025
6                    Calça           301026
7            Polo Listrado           301027
8   Camisa Gola V Listrado           301028
9              Camisa Liso           301029
10           Terno Estampa           301030
11             Tênis Linho           301031
12           Casaco Xadrez           301032
13         Camiseta Xadrez           301033
14              Cueca Liso           301034
15                Camiseta           301035
16          Calça Listrado           301036
17          Camisa Estampa           301037
18            Short Xadrez           301038
19              Sunga Liso           301039
20             Casaco Liso           301040
21            Chinelo Liso           301041
22          Camisa Estampa           301042
23        Relógio Listrado           301043

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [33]:
# pegar uma linha
display(vendas_df.loc[1]) #aqui i´ra retornar como textoi e não como tabela 
print('=*'*45)
display(vendas_df.loc[1:5]) #aqui ja retona como tabela

print('=*'*45)
# pegar linhas que correspondem a uma condição, nesse exemplo quiz que retornasse somente as vendas do produto camisetas 
vendas_de_camisetas = vendas_df.loc[vendas_df['Produto'] == 'Camiseta']
display(vendas_de_camisetas)

print('=*'*45)
# pegar linhas que correspondem a uma condição, nesse exemplo quiz que retornasse somente as vendas do produto camisetas, mas quero apenas algumas colunas em especifico, uso loc[linhas, colunas]
vendas_norteshopping_df = vendas_df.loc[vendas_df['Produto'] == 'Camiseta', ["Numero de origem", "Valor Unitário"]]
display(vendas_norteshopping_df)

print('=*'*45)
# pegar 1 valor específico, passando a linha e a coluna, nesse exmplo retornar linha 1 e o valor da coluna Produto
print(vendas_df.loc[1, 'Produto'])

Numero de Ordem                  301021
Data                2019-01-01 00:00:00
Numero de origem               Amplo-02
Produto                        Camiseta
Quantidade                            2
Valor Unitário                      180
Valor Final                         360
Comissão                           18.0
Imposto                               0
Name: 1, dtype: object

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.0,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.0,0

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

   Numero de origem  Valor Unitário
1          Amplo-02             180
15         Amplo-16             180

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
Camiseta

### Adicionar 1 coluna (importANTE O ARQUIVO ORIGINAL SERÁ ALTERADO)

In [37]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0  #loc[linha,coluna ]
display(vendas_df)

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358,17.90,0
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358,17.90,0
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [43]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

AttributeError: 'DataFrame' object has no attribute 'append'

### Excluir linhas e colunas

In [44]:
vendas_df = vendas_df.drop(0, axis=0) # axis=0 será o eixo para linha, axis=1 será o eixo para as colunas 
display(vendas_df)

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [46]:
# deletar linhas e colunas completamente vazias, onde não ha valor em nenhuma "celula"
#vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem pelo menos 1 valor vazio (se houiver apenas uma "celula" vazia irá excluir a linha inteira)
#vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean()) # mean = média,  aqui prencido os valores vazio com a media da coluna comissão 
display(vendas_df)

# preencher com o último valor
vendas_df = vendas_df.ffill()

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Calcular Indicadores
    - Groupby
    - Value Counts

In [52]:
# value counts = contar valores 
transacoes_loja = vendas_df['Produto'].value_counts()
display(transacoes_loja)

Produto
Camiseta                  2
Chinelo Liso              2
Camisa Estampa            2
Casaco Xadrez             1
Casaco Liso               1
Sunga Liso                1
Short Xadrez              1
Calça Listrado            1
Cueca Liso                1
Camiseta Xadrez           1
Tênis Linho               1
Sapato Xadrez             1
Terno Estampa             1
Camisa Liso               1
Camisa Gola V Listrado    1
Polo Listrado             1
Calça                     1
Cinto Linho               1
Relógio                   1
Relógio Listrado          1
Name: count, dtype: int64

In [53]:
# group by
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum() # aqui poderia ser media (mean) etc...
display(faturamento_produto)

                        Valor Final
Produto
Calça                           170
Calça Listrado                  362
Camisa Estampa                  226
Camisa Gola V Listrado          116
Camisa Liso                     105
Camiseta                        540
Camiseta Xadrez                 400
Casaco Liso                     510
Casaco Xadrez                   518
Chinelo Liso                    142
Cinto Linho                     248
Cueca Liso                       69
Polo Listrado                   596
Relógio                         600
Relógio Listrado                218
Sapato Xadrez                   368
Short Xadrez                    400
Sunga Liso                      228
Terno Estampa                  3530
Tênis Linho                     294

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro) aqui o cabeçalho deve ser identico

In [55]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
display(gerentes_df)

print('=*'*45)
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

   Numero de origem   Gerente
0          Amplo-01  Salvador
1          Amplo-02     Joana
2          Amplo-03     Maria
3          Amplo-04   Letícia
4          Amplo-05    Helena
5          Amplo-06     Luiza
6          Amplo-07     Julia
7          Amplo-08    Nicole
8          Amplo-09     André
9          Amplo-10      João
10         Amplo-11    Marcus
11         Amplo-12    Amanda
12         Amplo-13     Carol
13         Amplo-14  Andressa
14         Amplo-15     Lilia
15         Amplo-16     Paulo
16         Amplo-17     Pablo
17         Amplo-18     Diana
18         Amplo-19       Ana
19         Amplo-20    Flavia
20         Amplo-21  Fernanda
21         Amplo-22     Fábio
22         Amplo-23      Joel
23         Amplo-24    Gisele
24              NaN    Mateus

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0,Joana
1,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0,Maria
2,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0,Letícia
3,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0,Helena
4,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0,Luiza
5,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0,Julia
6,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0,Nicole
7,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0,André
8,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0,João
9,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0,Marcus
10,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0,Amanda
11,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0,Carol
12,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0,Andressa
13,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0,Lilia
14,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0,Paulo
15,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0,Pablo
16,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0,Diana
17,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0,Ana
18,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0,Flavia
19,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0,Fernanda
20,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0,Fábio
21,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0,Joel
22,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0,Gisele

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição