# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [11]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dato\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dato\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dato\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dato\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.2.2 pytz-2024.2
Note: you may need to restart the kernel to use updated packages.

# ***Métodos Uteis***


| Método               | Descrição                                                                                           |
|----------------------|-----------------------------------------------------------------------------------------------------|
| `read_csv()`         | Lê um arquivo CSV e retorna um DataFrame.                                                            |
| `to_csv()`           | Exporta um DataFrame para um arquivo CSV.                                                            |
| `head()`             | Retorna as primeiras n linhas de um DataFrame (o padrão é 5).                                        |
| `tail()`             | Retorna as últimas n linhas de um DataFrame (o padrão é 5).                                          |
| `info()`             | Exibe um resumo conciso do DataFrame, incluindo tipos de dados e valores nulos.                      |
| `describe()`         | Fornece estatísticas descritivas de colunas numéricas (média, desvio padrão, mínimo, etc.).           |
| `groupby()`          | Agrupa dados usando uma coluna ou índice como chave e aplica funções agregadas.                      |
| `merge()`            | Mescla dois DataFrames com base em uma ou mais colunas.                                              |
| `concat()`           | Concatena dois ou mais DataFrames ao longo de um eixo (linhas ou colunas).                           |
| `pivot_table()`      | Cria uma tabela dinâmica para sumarizar e agrupar dados.                                             |
| `drop()`             | Remove linhas ou colunas de um DataFrame.                                                            |
| `dropna()`           | Remove valores ausentes (NaN) de um DataFrame.                                                       |
| `fillna()`           | Preenche valores ausentes (NaN) com um valor específico.                                             |
| `apply()`            | Aplica uma função ao longo de um eixo (linhas ou colunas) do DataFrame.                              |
| `iloc[]`             | Seleciona dados com base em índices de posição.                                                      |
| `loc[]`              | Seleciona dados com base em rótulos de linha ou coluna.                                              |
| `sort_values()`      | Ordena os dados com base em valores de colunas específicas.                                          |
| `value_counts()`     | Retorna a contagem de valores únicos em uma coluna.                                                  |
| `isnull()`           | Retorna um DataFrame booleano indicando valores nulos.                                               |
| `duplicated()`       | Verifica se existem entradas duplicadas no DataFrame.                                                |
| `count()`            | Retorna o número de valores não nulos em cada coluna ou linha.                                       |
| `sum()`              | Retorna a soma dos valores de uma coluna ou DataFrame.                                               |
| `mean()`             | Calcula a média dos valores de uma coluna ou DataFrame.                                              |
| `min()`              | Retorna o valor mínimo de uma coluna ou DataFrame.                                                   |
| `max()`              | Retorna o valor máximo de uma coluna ou DataFrame.                                                   |
| `std()`              | Calcula o desvio padrão de uma coluna ou DataFrame.                                                  |
| `median()`           | Calcula a mediana dos valores de uma coluna ou DataFrame.                                            |
| `mode()`             | Retorna o(s) valor(es) mais frequente(s) de uma coluna.                                              |
| `cumsum()`           | Retorna a soma cumulativa dos valores ao longo de um eixo.                                           |
| `cumprod()`          | Retorna o produto cumulativo dos valores ao longo de um eixo.                                        |
| `nunique()`          | Retorna o número de valores únicos em uma coluna ou DataFrame.                                       |
| `idxmax()`           | Retorna o índice da primeira ocorrência do valor máximo.                                             |
| `idxmin()`           | Retorna o índice da primeira ocorrência do valor mínimo.                                             |
| `nlargest()`         | Retorna as n maiores entradas de uma coluna especificada.                                            |
| `nsmallest()`        | Retorna as n menores entradas de uma coluna especificada.                                            |
| `corr()`             | Calcula a correlação entre colunas numéricas.                                                        |
| `cov()`              | Calcula a covariância entre colunas numéricas.                                                       |
| `mad()`              | Retorna a média da diferença absoluta dos valores (média absoluta da dispersão).                     |
| `rank()`             | Atribui rankings aos valores dentro de uma coluna.                                                   |
| `sample()`           | Retorna uma amostra aleatória de linhas do DataFrame.                                                |
| `explode()`          | Transforma uma lista ou array de valores em várias linhas, uma por valor.                            |
| `between()`          | Retorna uma série booleana indicando se os valores estão entre dois valores especificados.           |
| `combine_first()`    | Mescla dois DataFrames, priorizando os valores não nulos do primeiro.                                |
| `melt()`             | Converte um DataFrame largo para o formato longo (ideal para visualização ou análise de dados).      |
| `memory_usage()`     | Retorna a quantidade de memória usada por cada coluna do DataFrame.                                  |
| `eval()`             | Avalia expressões no contexto de um DataFrame, acelerando operações com grandes datasets.            |
| `get_dummies()`      | Converte variáveis categóricas em variáveis dummy/indicadoras.                                       |
| `interpolate()`      | Preenche valores faltantes interpolando dados.                                                       |
| `merge_asof()`       | Mescla dois DataFrames com base na chave mais próxima (útil para séries temporais).                  |

### Criando um dataframe a partir de um dicionário

In [8]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [9]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [ ]:
vendas_df = pd.read_excel("Vendas.xlsx") #para ler o arquivo usa read_excel ou a extensão do arquivo poderia ser csv por exemplo, e dentro dos parenteses o nome do arquivo ou o path dele 
display(vendas_df)

### Resumos de Visualização de Dados simples e úteis
    - head -  dentro do parenteses() coloca quantas linhas quer visualizar, nesse caso coloquei 10, nesse exemplo i´ra mostrar da linha 0 à 9
    - shape - retorna quantas linhas e colunas o arquivo tem
    - describe - retorna um resumo

In [ ]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

### Filtrando dados do dataframe, exemplo Pegar 1 coluna (e os pd.Series), uma coluna apenas podemos chamar de series, passando as colunas que queremos dentro dos [], cada coluna precisa ser aberto um colchetes[]

In [12]:
produtos = vendas_df[['Produto', 'Numero de Ordem']]
display(produtos)

                   Produto  Numero de Ordem
0           Sapato Estampa           301020
1                 Camiseta           301021
2            Sapato Xadrez           301022
3                  Relógio           301023
4             Chinelo Liso           301024
5              Cinto Linho           301025
6                    Calça           301026
7            Polo Listrado           301027
8   Camisa Gola V Listrado           301028
9              Camisa Liso           301029
10           Terno Estampa           301030
11             Tênis Linho           301031
12           Casaco Xadrez           301032
13         Camiseta Xadrez           301033
14              Cueca Liso           301034
15                Camiseta           301035
16          Calça Listrado           301036
17          Camisa Estampa           301037
18            Short Xadrez           301038
19              Sunga Liso           301039
20             Casaco Liso           301040
21            Chinelo Liso           301041
22          Camisa Estampa           301042
23        Relógio Listrado           301043

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [33]:
# pegar uma linha
display(vendas_df.loc[1]) #aqui i´ra retornar como textoi e não como tabela 
print('=*'*45)
display(vendas_df.loc[1:5]) #aqui ja retona como tabela

print('=*'*45)
# pegar linhas que correspondem a uma condição, nesse exemplo quiz que retornasse somente as vendas do produto camisetas 
vendas_de_camisetas = vendas_df.loc[vendas_df['Produto'] == 'Camiseta']
display(vendas_de_camisetas)

print('=*'*45)
# pegar linhas que correspondem a uma condição, nesse exemplo quiz que retornasse somente as vendas do produto camisetas, mas quero apenas algumas colunas em especifico, uso loc[linhas, colunas]
vendas_norteshopping_df = vendas_df.loc[vendas_df['Produto'] == 'Camiseta', ["Numero de origem", "Valor Unitário"]]
display(vendas_norteshopping_df)

print('=*'*45)
# pegar 1 valor específico, passando a linha e a coluna, nesse exmplo retornar linha 1 e o valor da coluna Produto
print(vendas_df.loc[1, 'Produto'])

Numero de Ordem                  301021
Data                2019-01-01 00:00:00
Numero de origem               Amplo-02
Produto                        Camiseta
Quantidade                            2
Valor Unitário                      180
Valor Final                         360
Comissão                           18.0
Imposto                               0
Name: 1, dtype: object

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.0,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.0,0

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

   Numero de origem  Valor Unitário
1          Amplo-02             180
15         Amplo-16             180

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
Camiseta

### Adicionar 1 coluna (importANTE O ARQUIVO ORIGINAL SERÁ ALTERADO)

In [37]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0  #loc[linha,coluna ]
display(vendas_df)

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358,17.90,0
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,301020,2019-01-01,Amplo-01,Sapato Estampa,1,358,358,17.90,0
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [ ]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

### Excluir linhas e colunas

In [44]:
vendas_df = vendas_df.drop(0, axis=0) # axis=0 será o eixo para linha, axis=1 será o eixo para as colunas 
display(vendas_df)

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [46]:
# deletar linhas e colunas completamente vazias, onde não ha valor em nenhuma "celula"
#vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem pelo menos 1 valor vazio (se houiver apenas uma "celula" vazia irá excluir a linha inteira)
#vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean()) # mean = média,  aqui prencido os valores vazio com a media da coluna comissão 
display(vendas_df)

# preencher com o último valor
vendas_df = vendas_df.ffill()

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0
2,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0
3,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0
4,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0
5,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0
6,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0
7,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0
8,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0
9,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0
10,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0
11,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0
12,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0
13,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0
14,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0
15,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0
16,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0
17,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0
18,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0
19,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0
20,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0
21,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0
22,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0
23,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0

### Calcular Indicadores
    - Groupby
    - Value Counts

In [52]:
# value counts = contar valores 
transacoes_loja = vendas_df['Produto'].value_counts()
display(transacoes_loja)

Produto
Camiseta                  2
Chinelo Liso              2
Camisa Estampa            2
Casaco Xadrez             1
Casaco Liso               1
Sunga Liso                1
Short Xadrez              1
Calça Listrado            1
Cueca Liso                1
Camiseta Xadrez           1
Tênis Linho               1
Sapato Xadrez             1
Terno Estampa             1
Camisa Liso               1
Camisa Gola V Listrado    1
Polo Listrado             1
Calça                     1
Cinto Linho               1
Relógio                   1
Relógio Listrado          1
Name: count, dtype: int64

In [53]:
# group by
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum() # aqui poderia ser media (mean) etc...
display(faturamento_produto)

                        Valor Final
Produto
Calça                           170
Calça Listrado                  362
Camisa Estampa                  226
Camisa Gola V Listrado          116
Camisa Liso                     105
Camiseta                        540
Camiseta Xadrez                 400
Casaco Liso                     510
Casaco Xadrez                   518
Chinelo Liso                    142
Cinto Linho                     248
Cueca Liso                       69
Polo Listrado                   596
Relógio                         600
Relógio Listrado                218
Sapato Xadrez                   368
Short Xadrez                    400
Sunga Liso                      228
Terno Estampa                  3530
Tênis Linho                     294

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro) aqui o cabeçalho deve ser identico

In [55]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
display(gerentes_df)

print('=*'*45)
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

   Numero de origem   Gerente
0          Amplo-01  Salvador
1          Amplo-02     Joana
2          Amplo-03     Maria
3          Amplo-04   Letícia
4          Amplo-05    Helena
5          Amplo-06     Luiza
6          Amplo-07     Julia
7          Amplo-08    Nicole
8          Amplo-09     André
9          Amplo-10      João
10         Amplo-11    Marcus
11         Amplo-12    Amanda
12         Amplo-13     Carol
13         Amplo-14  Andressa
14         Amplo-15     Lilia
15         Amplo-16     Paulo
16         Amplo-17     Pablo
17         Amplo-18     Diana
18         Amplo-19       Ana
19         Amplo-20    Flavia
20         Amplo-21  Fernanda
21         Amplo-22     Fábio
22         Amplo-23      Joel
23         Amplo-24    Gisele
24              NaN    Mateus

=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

,Numero de Ordem,Data,Numero de origem,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,301021,2019-01-01,Amplo-02,Camiseta,2,180,360,18.00,0,Joana
1,301022,2019-01-01,Amplo-03,Sapato Xadrez,1,368,368,18.40,0,Maria
2,301023,2019-01-02,Amplo-04,Relógio,3,200,600,30.00,0,Letícia
3,301024,2019-01-02,Amplo-05,Chinelo Liso,1,71,71,3.55,0,Helena
4,301025,2019-01-02,Amplo-06,Cinto Linho,1,248,248,12.40,0,Luiza
5,301026,2019-01-02,Amplo-07,Calça,1,170,170,8.50,0,Julia
6,301027,2019-01-02,Amplo-08,Polo Listrado,4,149,596,29.80,0,Nicole
7,301028,2019-01-02,Amplo-09,Camisa Gola V Listrado,1,116,116,5.80,0,André
8,301029,2019-01-02,Amplo-10,Camisa Liso,1,105,105,5.25,0,João
9,301030,2019-01-02,Amplo-11,Terno Estampa,5,706,3530,176.50,0,Marcus
10,301031,2019-01-02,Amplo-12,Tênis Linho,1,294,294,14.70,0,Amanda
11,301032,2019-01-02,Amplo-13,Casaco Xadrez,2,259,518,25.90,0,Carol
12,301033,2019-01-02,Amplo-14,Camiseta Xadrez,2,200,400,20.00,0,Andressa
13,301034,2019-01-02,Amplo-15,Cueca Liso,1,69,69,3.45,0,Lilia
14,301035,2019-01-02,Amplo-16,Camiseta,1,180,180,9.00,0,Paulo
15,301036,2019-01-02,Amplo-17,Calça Listrado,2,181,362,18.10,0,Pablo
16,301037,2019-01-02,Amplo-18,Camisa Estampa,1,113,113,5.65,0,Diana
17,301038,2019-01-02,Amplo-19,Short Xadrez,4,100,400,20.00,0,Ana
18,301039,2019-01-02,Amplo-20,Sunga Liso,2,114,228,11.40,0,Flavia
19,301040,2019-01-02,Amplo-21,Casaco Liso,2,255,510,25.50,0,Fernanda
20,301041,2019-01-02,Amplo-22,Chinelo Liso,1,71,71,3.55,0,Fábio
21,301042,2019-01-02,Amplo-23,Camisa Estampa,1,113,113,5.65,0,Joel
22,301043,2019-01-02,Amplo-24,Relógio Listrado,1,218,218,10.90,0,Gisele

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição